---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import 'minima';

@font-face {
	font-family: 'rootstock-sans-headline';
    src: url('../../fonts/WEB/Rootstock-Sans-Headline.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/WEB/Rootstock-Sans-Headline.woff') format('woff'), /* Ptty Modern Browsers */
    url('../../fonts/WEB/Rootstock-Sans-Headline.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/WEB/Rootstock-Sans-Headline.otf') format('otf'), 
	url('../../fonts/WEB/Rootstock-Sans-Headline.svg') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'rootstock-sans-body';
    src: url('../../fonts/WEB/Rootstock-Sans-Body.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/WEB/Rootstock-Sans-Body.woff') format('woff'), /* Ptty Modern Browsers */
    url('../../fonts/WEB/Rootstock-Sans-Body.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/WEB/Rootstock-Sans-Body.otf') format('otf'), 
	url('../../fonts/WEB/Rootstock-Sans-Body.svg') format('svg'); /* Legacy iOS */
}


html {
  scroll-behavior: smooth;
}

body{
  --text-color-primary: #1a1919;
  --text-color-secondary: #79C600;
  --text-color-third: white;
  --secondary-dark: #194d91;
  --background-color: #FAF9F5;
  --table-background: #79C600;
  --table-background-pink: #FF71E1;
  --table-background-green: #79C600;
  --table-bg-alt: #f8f8f8;
  --code-background: #f1f0f0;
  --code-highlight: #ff71e07d;
  --accent-color: #79C600; 
  --btn-gradient: rgba(255,145,0,1);
  --highlight: #ff71e05d;
  --transition-delay: 1s;
  --light: #d8dbe0;
  --dark: #28292c;
}

body.darkmode{
  --text-color-primary: white;
  --text-color-secondary: #79C600;
  --text-color-third: black;
  --background-color: black;
  --table-background: #FF71E1;
  --table-bg-alt: #0c0e0e;
  --code-background: #FAF9F5;
  --code-highlight: #9E76FF;
  --accent-color: #FF9100;
  --highlight: #9E76FF;
  --btn-gradient: rgba(121,198,0,1);
}

/* ======== NEW TOGGLE BTN ========= */
.toggle {
  position: relative;
  box-sizing: border-box;
}
.toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.toggle label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.toggle label:before {
  content: '';
  width: 84px;
  height: 26px;
  position: relative;
  display: inline-block;
  background: #FFF;
  border-radius: 46px;
  border: 2px solid var(--text-color-primary);
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.toggle label:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  z-index: 2;
  background: #000;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.toggle input[type="checkbox"]:checked + label:before {
  background: #000;
}
.toggle input[type="checkbox"]:checked + label:after {
  left: 60px;
  background: #FFF;
}






.highlight .c1 {
    color: #3e3e3b;
}

.highlight .cm {
  color: #3e3e3b;
}

.theme-toggle-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50px;
  transition: var(--transition-delay);
  transform: scale(1.1);  
  position: absolute;
  top: 40px;
  right: 200px;
  z-index: 1;
}

.theme-toggle-button .icon{
  margin-right: 0 !important;
}

@media (max-width: 600px) {
  body.darkmode .site-nav .menu-icon > svg { 
    fill: white !important; 
  }
}


@media (max-width: 750px) {
  .theme-toggle-button{
    display: none;
  }
}

@media (max-width: 400px) {
  .title{
    width: 150px;
  }
}


#index{
  font-size: 32px;
}

#author-index{
  font-size: 32px;
}


.theme-toggle-button2{
  background-color: var(--accent-color);
  background-image: linear-gradient(90deg, var(--btn-gradient));
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: .5em 1em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);  
  margin-bottom: .5em;
}

.theme-toggle-button .icon{
  margin-right: .5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}


.page-link:hover{
  color: #FF9100;
}

.site-header {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.site-nav .menu-icon > svg { fill: black; }

.bold{
  font-weight: bold;
}

.page-content {
  a.anchor-link {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: -22px;
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='anchor-link-icon' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

main.page-content {
  div.wrapper {
    max-width: unset;
  }
}


 @include media-query($on-palm) {
     .purpose {
      display: none;
  }
      .complexity {
        display: none;
    }
      .layer {
        display: none;
    }
    .created{
      display: none;
    }
    .email{
      display: none;
    }
 }

 tr.selected {
  background-color: var(--highlight) !important;
 }


 table th{
  border: var(--text-color-primary) 2px solid;
  font-family: 'rootstock-sans-headline', sans-serif;
 }

 table td{
  border: 1px solid var(--table-bg-alt);
 }



 

 /* FOOTER */

 footer{
  margin-top: 2rem;

 }

 .footer_cont{
   display: flex;
   justify-content: center;
   margin-top: 25px;
   margin-bottom: 25px;
 }

 .footer_cont ul{
  margin-top: 25px;
}

